@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.eot#iefix") format("embedded-opentype"),
    url("../fonts/Vazir.woff") format(".woff"),
    url("../fonts/Vazir.woff2") format(".woff2"),
    url("../fonts/Vazir.ttf") format("truetype"),
    /* font-family: "IranNastaliq"; */
      /* src: url('../fonts/IranNastaliq.eot?#') format('eot'), */
      /* src: url("../fonts/IranNastaliq.eot");
  src: url("../fonts/IranNastaliq.eot?#") format("embedded-opentype"), */
      url("../fonts/IranNastaliq.ttf") format("truetype"),
    url("../fonts/IranNastaliq.woff") format("woff");
}

html,
body {
  font-family: "vazir", Arial, Helvetica, sans-serif;
  background-color: rgb(213, 222, 245);
}
header {
  height: 100px;
  margin-bottom: 15px;
  background: linear-gradient(to left, #4bb0f3, #022b46);
  /* background: url("../img/header.jpg"); */
  border-radius: 8px;
}

.title-header {
  height: 100%;
  width: 85%;
  float: right;
}

.exit {
  color: #ffffff;
  font-size: 40px;
  float: left;
  padding: 27px;
  opacity: 1;
  cursor: pointer;
  z-index: 1000000;
}
.exit:hover {
  color: red;
  font-size: 55px;
  padding: 22px;
  transition: 0.5s;
}

h1 {
  padding-right: 500px;
  color: #fff;
  /* text-shadow: 1px 1px; */
  font-family: "IranNastaliq";
}
.title {
  color: #ffffff;
  align-items: center;
  text-decoration: none;
  margin: 20px 15px;
}
.title:hover {
  color: #022b46;
  transition: 1.5s;
  padding-right: 5px;
}

.outerDiv {
  background-color: rgb(213, 222, 245);
  color: #fff;
  height: 100%;
  width: 100%;
}

.leftDiv {
  background-color: #49acee;
  color: #000;
  height: 100%;
  width: 85%;
  float: left;
  border-radius: 8px;
}

.rightDiv {
  background-color: #4bb0f3;
  color: rgb(238, 30, 30);
  height: 100%;
  width: 14%;
  float: right;
  border-radius: 8px;
}

object {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
.items {
  margin: 20px 10px;
  height: 30px;
  border-bottom: 1px solid black;
}
